@model WebApplication1.Models.tbAlimento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbAlimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTipoQuantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoQuantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carboidrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carboidrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VitaminaA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VitaminaA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VitaminaB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VitaminaB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAlimento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
